@charset "UTF-8";
/*----------------------------------------------------------------------
[Core Styles]
Extracted from legacy global.css to reduce size.
-----------------------------------------------------------------------*/

html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: #606060;
  line-height: 1.4;
}

em, li, li a {
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: #34343c;
}

a {
  font-family: Roboto, sans-serif;
  color: #6a4c78;
  outline: 0;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #4a3456;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: #34343c;
  line-height: 1.4;
  margin: 0 0 15px;
}

::selection {
  color: #fff;
  background: #6a4c78;
}

:active, :focus {
  outline: none;
}

/* Base Responsive Utilities used in project */
@media (max-width: 480px) {
  .xs-margin-b-20 { margin-bottom: 20px !important; }
}

.radius-3 { border-radius: 3px !important; }
.radius-4 { border-radius: 4px !important; }
.radius-circle { border-radius: 50% !important; }
